@font-face {
    font-family: baseFont;
    src: url('../resource/fonts/sansation_light.woff');
}
.exp-mgr-wrapper {
	padding: 10px;
	background-image: url('../resource/pngs/satinweave.png');
}
.exp-mgr-wrapper .main .container {
	margin-top: 10px;
	padding-left: 0px;
}
.hr-line {
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.logo .logo-name {
	margin: 0 0 20px 0;
}
.logo .logo-img {
	display: inline-block;
	vertical-align: bottom;
}
.logo {
	color: #31708F;
	font-family: initial;
}
.header .btn-nav {
	color: #eee;
	background-color: #333;
	border-color: #333;
}
input.btn-default.btn-nav:hover {
    background-color: #49A3CF;
    color: white;
    border-color: #49A3CF;
}
.hidden {
	display: none;
}
.btn-container {
	float: right;
}
.new-entry {
	float: left;
	width: 50%;
}
.center-align {
	margin: auto;
	display: block;
}
.action-button {
	width: 100px;
}
.list-container {
	float: left;
	width: 100%;
}
.list-container .table .edit-row {
	padding: 2px 12px;
	height: 25px;
}
.list-container .badge {
	font-size: 14px;
	font-weight: normal;
	background-color: #31708f;
}
.table-header {
	background-color: #2c3254;
	color: whitesmoke;
}
.error-msg {
	margin: 3px 0 0 5px;
	color: red;
}
.no-resize {
	resize: none;
}
#income-table, #expense-table {
	box-shadow: 8px 9px 10px #888888;
	margin-top: 20px;
	background-color: #eee;
}
