<div class="list-container" ng-init="init()">

    <span class="badge-tag">
        <h3 class="title badge exp-badge">
            <i class="fa fa-money"></i> Total Expense - <span ng-bind="expCount | currency:'&#8377;'"></span>
        </h3>
    </span>

    <div class="add-new">
        <img src="resource/pngs/add.png" ng-click="newExpRecord()" data-toggle="tooltip" title="Add Expense"/>
    </div>

    <div class="form-record-cntr" ng-show="showForm">

        <div class="new-entry">
          <div class="panel panel-default">
              <div class="panel-heading">Expense Details</div>
              <div class="panel-body">
                  <form class="form" name="xmAddExp" role="form" ng-submit="xmAddExp.$valid && addRecord()" novalidate>
                        <div class="form-group">
                          <div class="row">
                              <div class="col-xs-12">
                                  <label class="control-label">Amount:</label>
                                  <input ng-hide="editingData" type="text" valid-amount class="form-control" name="newExpAmount" ng-model="expAmount" placeholder="Expense Amount" ng-required="!editingData">
                                  <div ng-messages="xmAddExp.newExpAmount.$error" ng-if="xmAddExp.$submitted && !editingData">
                                      <div ng-message="required" class="error-msg"><span class="glyphicon glyphicon-info-sign"></span> Enter Amount</div>
                                  </div>
                                  <input ng-show="editingData" type="text" valid-amount class="form-control" name="updateExpAmount" ng-model="editExpAmount" ng-required="editingData">
                                  <div ng-messages="xmAddExp.updateExpAmount.$error" ng-if="xmAddExp.$submitted && editingData">
                                      <div ng-message="required" class="error-msg"><span class="glyphicon glyphicon-info-sign"></span> Enter Updated Amount</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                              <div class="col-xs-6">
                                  <label for="age">Expense For:</label>
                                  <select ng-hide="editingData" class="form-control" ng-model="defaultExpCat" ng-options="item.name for item in exp_cat track by item.id"></select>
                                  <select ng-show="editingData" class="form-control" ng-model="selectedExpCat" ng-options="item.name for item in exp_cat track by item.id"></select>
                              </div>
                              <div class="col-xs-6">
                                  <label for="age">Payment Mode:</label>
                                  <select ng-hide="editingData" class="form-control" ng-model="defaultMode" ng-options="item.name for item in mode track by item.id"></select>
                                  <select ng-show="editingData" class="form-control" ng-model="selectedExpPaymentMode" ng-options="item.name for item in mode track by item.id"></select>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="email">Date:</label>
                                    <input ng-hide="editingData" type="text" name="newExpDate" class="form-control" ng-model="expDate" ng-required="!editingData">
                                    <div ng-messages="xmAddExp.newExpDate.$error" ng-if="xmAddExp.$submitted && !editingData">
                                        <div ng-message="required" class="error-msg"><span class="glyphicon glyphicon-info-sign"></span> Enter Date</div>
                                    </div>
                                    <input ng-show="editingData" type="text" name="updateExpDate" class="form-control" ng-model="editExpDate" ng-required="editingData">
                                    <div ng-messages="xmAddExp.updateExpDate.$error" ng-if="xmAddExp.$submitted && editingData">
                                        <div ng-message="required" class="error-msg"><span class="glyphicon glyphicon-info-sign"></span> Enter Updated Date</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="age">Notes:</label>
                                    <textarea ng-hide="editingData" exp-note ng-maxlength="20" name="newNote" class="form-control no-resize" ng-model="newNote"></textarea>
                                    <div ng-messages="xmAddExp.newNote.$error" ng-if="!editingData">
                                        <div ng-message="maxlength" class="error-msg"><span class="glyphicon glyphicon-info-sign"></span> Note cannot exceed more than 20 characters.</div>
                                    </div>
                                    <textarea ng-show="editingData" exp-note ng-maxlength="20" name="updateNote" class="form-control no-resize" ng-model="editNote"></textarea>
                                    <div ng-messages="xmAddExp.updateNote.$error" ng-if="editingData">
                                        <div ng-message="maxlength" class="error-msg"><span class="glyphicon glyphicon-info-sign"></span> Note cannot exceed more than 20 characters.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" ng-hide="editingData" class="btn-primary"><span class="glyphicon glyphicon-save"></span> Submit</button>
                        <button type="submit" ng-show="editingData" class="btn-primary" ng-click="updateRecord()"><span class="glyphicon glyphicon-save"></span> Update</button>
                        <button type="reset" class="btn-primary" ng-click="closeExpForm()"><span class="glyphicon glyphicon-remove"></span> Close</button>
                  </form>
              </div>
          </div>
        </div>
        <div class="record-list">
              <span class="filler" ng-show="editingData"> Update <br/> This <br/> Expense.. </span>
              <span class="filler" ng-show="!editingData">Add <br/> New <br/> Expense.. </span>
        </div>
    </div>

    <table id="expense-table" class="table table-hover table-striped">
        <thead class="table-header">
          <tr>
              <th>Expense</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Mode</th>
              <th>Note</th>
              <th class="action-button"></th>
              <th class="action-button"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in expenses">
              <td>
                  <div ng-hide="editingData[item.exp_id]">{{item.exp_cat}}</div>
              </td>
              <td>
                  <div ng-hide="editingData[item.exp_id]">{{item.exp_amount}}</div>
              </td>
              <td>
                  <div ng-hide="editingData[item.exp_id]">{{item.exp_date}}</div>
              <td>
                  <div ng-hide="editingData[item.exp_id]">{{item.mode}}</div>
              </td>
              <td>
                  <div ng-hide="editingData[item.exp_id]">{{item.note}}</div>
              </td>
              <td class="action-button edit">
                  <i class="fa fa-pencil-square-o" ng-click="modifyExp(item, $index)" style="cursor: pointer; cursor: hand;" data-toggle="tooltip" title="Update"></i>
              </td>
              <td class="action-button delete">
                  <i class="fa fa-trash-o" ng-click="removeExpRecord($index)" style="cursor: pointer; cursor: hand;" data-toggle="tooltip" title="Remove"></i>
              </td>
          </tr>
        </tbody>
    </table>

</div>
